p[title]{
    border: 1px solid gray;
    padding: 10px;
}

p[title="first"]{
    background-color: rgb(241, 80, 174);
}
p[title~="forth"]{
    background-color: khaki;
}

a[href^="http"]{
    background-color: lightblue;
}

a[href$="com"]{
    background-color: lightgreen;
}
a[href="http://www.example.com"][target="blank"]{
    background-color: magenta;
}
input[type="text"]{
    display: block;
    width: 175px;
}