/*

(*) tüm etiketler
(div p) div içindeki tüm p etiketleri
(div,p) tüm div ve p etiketleri
(div>p) üst etiketi div olan tüm p etiketleri
(p ~ div) p ile aynı seviyedeki tüm div etiketleri
(p + div) p etiketlerinden sonra gelen ilk div etiketleri

*/


/*
.container div.box{
    border: 1px solid black;
}

div p{
    border: 1px solid black;
}

p{
    border: 1px solid black;
}
    

*{
    border: 1px solid black;
}
*/
