/*
Pseudo Elements
*/


p::first-line{
    color: brown;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-weight: bold;
}

p.about::first-line{
color: cornflowerblue;
}

p::first-letter{
    font-size: 35px;
}

p::after{
    content: " ramazan karkin";
    display: block;
    background-color: cornsilk;
    padding: 5px;
}


/*
Pseudo Class
*/

ul li{
    padding: 5px;
    margin-bottom: 5px;
    list-style: none;
}

ul li:first-child{
    background-color: burlywood;
}
ul li:last-child{
    background-color: red;
}
ul li:nth-of-type(even){
    border: 2px solid blue;
}

ul li:nth-of-type(odd){
    border: 2px solid turquoise;
}

a{
 padding: 5px 8px;
 text-decoration: none;
 width: 50px;
 border: 2px solid olive;
 margin-bottom: 4px;
}
a:link{
    color:red;
}

a:visited{
    color: grey;
}

a:hover{
    color: honeydew;
    background-color: green;
}

a:active{
    color: hotpink;
    background-color: gold;
}
span{
    display: none;
    background-color: green;
    padding: 20px;
}
div:hover span{
display: block;
}
